html {
  background-color: #eee2dc;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
}

img {
  width: 100vw;
  height: 45vh;
}
.parent {
  padding: 1em;
}
.text-in-rem {
  font-size: 1rem;
}
.list {
  font-size: 28px;
  list-style: none;
  padding: 0em;
}

.list-container {
  width: 50%;
  height: 50%;
  border: 5px solid lightblue;
  border-radius: 4px;
  background-color: palevioletred;
  padding: 20px;
}

.list .text-in-pixels {
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #5cdb95;
}
.list .text-in-ems {
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 700;
  color: white;
  background-color: #5cdb95;
}

.fr-container {
  display: grid;
  border: 5px solid lightblue;
  width: 300px;
  height: 150px;
  margin-top: 1em;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
}
.childContainer {
  background-color: lightsalmon;
  border-radius: 5px;
}

.ch-unit {
  margin-top: 1em;
  font-family: "Courier";
  width: 10ch;
  background: yellow;
  color: darkmagenta;
}
